:root {
    --mainpar: #00B98E;
    --mainfont: #0E2E50;
    --main: #EFFDF5;
}

* {
    font-family: 'Heebo', sans-serif;
    color: var(--mainpar)
}

.c-mainpar {
    color: var(--mainpar);
}

.logo {
    color: var(--mainpar);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inter', sans-serif;
    color: var(--mainfont);
}

p {
    color: gray;
    margin-top: 10px;
}

body {
    background-color: var(--main);
}

.main-nav {
    margin: 0px;
    position: sticky;
}

.nav-link {
    color: var(--mainfont);
    transition: all 0.5s;
}

.nav-link:hover {
    color: var(--mainpar);
}

.active {
    color: var(--mainpar) !important;
}

.btn-nav {
    background-color: var(--mainpar);
    border-color: var(--mainpar);
    padding: 10px 30px;
    color: white;
}

.nav-item {
    padding: 0px 10px;
}


.btn-header {
    width: 160px;
    height: 60px;
    background-color: var(--mainpar);
    border-color: var(--mainpar);
    color: white;
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-prev {
    background-color: var(--mainpar);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: all 0.5s;
    position: absolute;
    left: 10px;
    top: 280px;
    z-index: 2;
}

.button-next {
    background-color: var(--mainpar);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: all 0.5s;
    position: absolute;
    left: 10px;
    top: 335px;
    z-index: 2;
}

.button-prev:hover,
.button-next:hover {
    background-color: var(--mainfont);
    border-color: var(--mainfont);
}

.button-prev:focus,
.button-next:focus {
    background-color: var(--mainpar);
    border-color: var(--mainpar);
}

.searchbar {
    background-color: var(--mainpar);
    min-height: 100px;
    max-width: auto;
    padding: 20px;
    /* z-index: 1000; */

}

.btn-search {
    background-color: var(--mainfont);
    padding: 16px 70px;
    color: white;
    margin-top: 10px;
}

.btn-search:hover {
    background-color: var(--mainfont);
    color: white;
}

.container-card {
    background-color: white;
    min-height: 800px;
}

.col-intestazione {
    padding-top: 100px;
}

.col-intestazione p {
    padding: 0px 30px;
}

.category-card {
    border: var(--main) 10px solid;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
}

.card-body {
    background-color: white;
    border: var(--mainpar) 0.5px dashed;
    border-radius: 10px;
    min-height: 200px;
    transition: all 0.5s;
}

.card-body:hover {
    background-color: var(--mainpar);
}

.card-body:hover h5,
.card-body:hover p {
    color: white;
}

.icon {
    margin-top: 15px;
}

.ic {
    border-radius: 50%;
    border: var(--mainpar) 0.5px dashed;
    padding: 20px;
    background-color: white;
}

.work-col {
    height: auto;
}

.work-img img {
    position: relative;
    z-index: 2;
}

.work-img::before {
    content: "";
    background: var(--mainpar);
    position: absolute;
    height: 100%;
    width: 100%;
    transform: skew(20deg);
    z-index: 1;
    left: -50%;
    top: 0px;
}

.work-tit{
    color: var(--mainfont);
}

.btn-read-more {
    width: 200px;
}

.container-card{
    height: auto;
}

.col-title{
    padding-top: 100px;
    padding-left: 20px;
}

.cardmaster{
    height: fit-content;
    max-width: 360px;
    border-radius: 25px;
    overflow: hidden;
}

.card-img{
    overflow: hidden;
}

.card-text{
    padding:  20px 20px;
}

.price{
    color: var(--mainpar);
    margin-bottom: 0px;
    margin-top:0px;
}

.card-footer{
    border-top: var(--mainpar) dashed 0.5px;
}

.category{
    border-right:var(--mainpar) dashed 0.5px;
}

.find{
    position: absolute;
    color: white;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    top: 10px;
    left: 20px;
}

.sell{
    position: absolute;
    color: white;
    width: 50px;
    text-align: center;
    border-radius: 5px;
    top: 10px;
    left: 20px;
}


.r-header{
    height: 100vh;
    background: url(./alvaro-serrano--kr8XPYuSI8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.r-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(20px);
}

.r-header h1,h3{
    color: var(--main);
}

.col-an h3{
    color: var(--mainfont);
    padding-top: 40px;
}

@media screen and (min-width: 992px) {

    .main-nav {
        margin-top: 80px;
        margin-left: 60px;
        margin-right: 60px;
        /* min-width: 300px; */
        z-index: 3;
        transition: all 0.5s;
    }

    .sticky-top {
        margin: 0px;
        position: sticky;
    }


    .container-header {
        margin-top: -170px;
        min-width: 500px;
        /* height: 50vw; */
    }

    /* .swiper {
        height: 100%;
    } */

    .button-prev {
        background-color: var(--mainpar);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        transition: all 0.5s;
        position: absolute;
        left: -25px;
        top: 300px;
        z-index: 2;
    }

    .button-next {
        background-color: var(--mainpar);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        transition: all 0.5s;
        position: absolute;
        left: -25px;
        top: 360px;
        z-index: 2;
    }

    .button-prev:hover,
    .button-next:hover {
        background-color: var(--mainfont);
        border-color: var(--mainfont);
    }

    .button-prev:focus,
    .button-next:focus {
        background-color: var(--mainpar);
        border-color: var(--mainpar);
    }

    .searchbar {
        background-color: var(--mainpar);
        height: 200px;
        margin-top: -10px;
        /* z-index: 1000; */
    }

    .btn-search {
        background-color: var(--mainfont);
        padding: 16px 70px;
        color: white;
        margin-top: 0px;
    }

    .btn-search:hover {
        background-color: var(--mainfont);
        color: white;
    }

    .work-col {
        height: auto;
    }

    .work-img img {
        position: relative;
        z-index: 2;
    }

    .work-img::before {
        content: "";
        background: var(--mainpar);
        position: absolute;
        height: 100%;
        width: 100%;
        transform: skew(20deg);
        z-index: 1;
        left: -50%;
        top: 0px;
    }
    
}